footer {
  background: black;
  color: #fff;
  box-sizing: border-box;
  min-height: 85px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  padding-bottom:10px;
  gap:10px;
}
footer .social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width:400px;
}
footer .social-media a {
  font-size: 30px;
  color: #cccccc;
}
footer .copyright p{
  opacity: 0.502;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
}